*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header{
  height:80px;
  background-color: rgb(67, 64, 64);

}
header .logo{
  color:white;
  font-size: 23px;
  padding: 30px;
 

}
.country-data{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.country-data .container{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
}
.country-data .container .content{
 background-color: #f2f2f2;
 border-radius:8px;
 padding: 20px;
 text-align: center;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 margin: 10px;
 width: calc(20% - 20px);
}
.country-data .container  img{
  width:150px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  
}
.country-data .container h2 {
  font-size: 18px;
  color: #333;
}